/* html */

html,
body {
  margin: 0;
  padding: 0;
}

/* Editor */

.Editor {
  padding: 1em;
  box-shadow: 0 0 0 0.2em black inset;
}

/* Term */

.TermState {
  font-family: monospace;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Punc {}

.Punc.Paren {}

.Punc.Paren.LeftParen {}

.Punc.Paren.rightParen {}

.Atom {
  color: green;
  font-weight: bold;
  user-select: none;
}