/* html */

html,
body {
  margin: 0;
  padding: 0;
}

/* Editor */

.Editor {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  width: 600px;
  margin: auto;
}

.Editor>.content {
  margin: auto;
  padding: 1em 0;
  font-size: 1.5em;
}

.Editor>.information {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: scroll;
  padding: 1em;
  height: 400px;
}

.Editor>.information .block {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  box-shadow: 0 0 0 0.1em black;
}

.Editor>.information .title {
  font-weight: bold;
  font-size: 1.5em;
}

.Editor>.information table {
  border-collapse: collapse;
}

.Editor>.information thead {}

.Editor>.information tbody {}

.Editor>.information tr {}

.Editor>.information th {
  padding: 0.5em;
  border: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 0.177);
}

.Editor>.information td {
  padding: 0.5em;
  border: 1px solid #ddd;
}

/* Term */

.Span {
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.Point {
  user-select: none;
  color: rgb(190, 190, 190);
}

.Atom {
  color: black;
  user-select: none;
  white-space: pre;
}

.Atom.Paren {
  font-weight: bold;
  color: green;
}

.Atom.inside-active-SpanCursor {
  background-color: rgba(255, 0, 0, 0.242);
}

.Atom.inside-marker-SpanCursor {
  background-color: rgba(115, 115, 255, 0.278);
}

.Atom.inside-ZipperCursor {
  background-color: rgba(255, 0, 0, 0.242);
}


/* Cursor */

.Point.Cursor {
  color: red;
  text-shadow: 0 0 8px red;
  font-weight: bold;
}

.Point.Cursor.Marker {
  color: rgb(115, 115, 255);
  text-shadow: 0 0 8px rgb(115, 115, 255);
}

.Point.inside-active-SpanCursor {
  background-color: rgba(255, 0, 0, 0.242);
}

.Point.inside-marker-SpanCursor {
  background-color: rgba(115, 115, 255, 0.278);
}

.Point.inside-ZipperCursor {
  background-color: rgba(255, 0, 0, 0.242);
}